@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-align: justify;
  text-justify: inter-ideograph;
}
body {
  background-color: #fdfdfb;
  background-image: url(../img/header_back.jpg);
  background-repeat: repeat-x;
  text-align: center;
}
#header {
  padding: 0px;
  width: 710px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
#main_logo {
  padding: 0px;
  margin-top: 23px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 233px;
  float: left;
}
#kai {
  float: left;
  height: 40px;
  width: 40px;
  margin-top: 35px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#to_coupon {
  float: right;
  margin-top: 25px;
  margin-right: 153px;
  vertical-align: baseline;
}
#menu {
  float: right;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.menu_list {
  float: right;
  margin-left: 10px;
  list-style: none;
}
#main {
  text-align: center;
  padding: 0px;
  height: auto;
  width: 725px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
#cont01 {
  background-image: url(../img_about/cont01.jpg);
  background-repeat: no-repeat;
  height: 300px;
  margin-left: auto;
  text-align: left;
  width: 680px;
  margin-right: auto;
  margin-bottom: 20px;
}
#text01 {
  width: 390px;
  padding-top: 50px;
  font-family: "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Osaka;
  font-size: 12px;
  line-height: 32px;
  margin-left: 0px;
  color: #333333;
}
#text05 {
  width: 380px;
  padding-top: 50px;
  font-family: "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Osaka;
  font-size: 12px;
  line-height: 35px;
  float: right;
  color: #333333;
}
.info_link02 {
  font-size: 12px;
  color: #eb1355;
  text-decoration: none;
  font-family: "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Osaka;
}
#cont03 {
  background-image: url(../img_about/cont03.jpg);
  background-repeat: no-repeat;
  height: 230px;
  margin-left: auto;
  text-align: left;
  width: 680px;
  margin-right: auto;
  margin-bottom: 40px;
}
#cont04 {
  background-image: url(../img_about/cont04.gif);
  background-repeat: no-repeat;
  margin-left: auto;
  text-align: left;
  width: 680px;
  margin-right: auto;
  margin-bottom: 30px;
}
#main #cont04 img {
  float: left;
  margin-top: 55px;
  margin-right: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#text06 {
  width: 680px;
  padding-top: 50px;
  font-family: "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Osaka;
  font-size: 12px;
  line-height: 35px;
  color: #333333;
}
#cont02 {
  height: 334px;
  width: 680px;
  margin-top: 25px;
  background-color: #f7f5f0;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
}
#cont02 #cook {
  padding-top: 35.5px;
  height: 263px;
  width: 201px;
  margin-left: 50px;
  float: left;
}
#cook_text {
  text-align: left;
  float: right;
  width: 380px;
  padding-top: 43px;
}
#text02 {
  font-size: 14px;
  color: #eb6877;
  letter-spacing: 1pt;
  font-family: "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Osaka;
  font-weight: bold;
}
#text03 {
  font-family: "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Osaka;
  font-size: 15px;
  font-weight: bold;
  color: #eb6877;
  letter-spacing: 1pt;
}
#text04 {
  font-family: "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Osaka;
  font-size: 12px;
  font-weight: normal;
  color: #333333;
  padding-top: 20px;
  line-height: 26px;
  width: 320px;
}
.clear {
  clear: both;
}
#footer {
  width: 680px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-top: 1px solid #d9d9d9;
  line-height: 1;
  overflow: hidden;
  position: relative;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 0;
  text-align: left;
  height: 50px;
}
#footer a {
  text-decoration: none;
  color: #333333;
}
#footer ul {
  font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
  font-size: 12px;
  color: #333333;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
#footer li {
  border-left: 1px solid #d9d9d9;
  float: left;
  padding: 0 15px;
  list-style-type: none;
  position: relative;
  left: -16px;
}
#footer p {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333;
  margin-top: 10px;
  width: 500px;
  display: block;
  clear: left;
}
#footer #omake {
  float: right;
  height: 40px;
  width: 40px;
  margin-right: 5px;
}
.youtube {
  color: #fdfdfb !important;
}
div.tooltip {
  width: 500px;
  position: absolute;
  z-index: 10;
  text-align: center;
}
div.tooltip .tooltipFoot {
  vertical-align: top;
}
.tooltip01 {
  padding-top: 15px;
  background-image: url(../img/tooltipBody.gif);
}
#cont05 {
  height: 300px;
  width: 680px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
}
#footer p {
  padding-top: 15px;
}
