@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-align: justify;
  text-justify: inter-ideograph;
}
body {
  background-color: #fdfdfb;
  background-image: url(../img/header_back.jpg);
  background-repeat: repeat-x;
  text-align: center;
}
#header {
  padding: 0px;
  width: 710px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
#main_logo {
  padding: 0px;
  margin-top: 23px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 233px;
  float: left;
}
#kai {
  float: left;
  height: 40px;
  width: 40px;
  margin-top: 35px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#to_coupon {
  float: right;
  margin-top: 25px;
  margin-right: 153px;
  vertical-align: baseline;
}
#menu {
  float: right;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.menu_list {
  float: right;
  margin-left: 10px;
  list-style: none;
}
#main {
  text-align: center;
  padding: 0px;
  height: auto;
  width: 725px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
#cont01 {
  height: auto;
  margin-left: auto;
  text-align: left;
  width: 680px;
  margin-right: auto;
  margin-bottom: 20px;
}
.text01 {
  font-family: "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Osaka;
  font-size: 12px;
  line-height: 28px;
  color: #333333;
  letter-spacing: 3px;
}
.text02 {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  color: #e6709f;
  font-weight: bold;
  padding-bottom: 3px;
}
#main #cont01 div {
  margin-top: 15px;
  padding-bottom: 20px;
  width: 680px;
}
#cont02 {
  height: auto;
  margin-left: auto;
  text-align: left;
  width: 680px;
  margin-right: auto;
  margin-bottom: 40px;
  padding-top: 30px;
}
#main #cont02 div {
  margin-top: 15px;
  padding-bottom: 20px;
}
#cont03 {
  height: 970px;
  margin-left: auto;
  text-align: left;
  width: 680px;
  margin-right: auto;
  margin-bottom: 20px;
}
#cont03 p {
  margin-top: 10px;
}
.clear {
  clear: both;
}
#footer {
  width: 680px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-top: 1px solid #d9d9d9;
  line-height: 1;
  overflow: hidden;
  position: relative;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 0;
  text-align: left;
  height: 50px;
}
#footer a {
  text-decoration: none;
  color: #333333;
}
#footer ul {
  font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
  font-size: 12px;
  color: #333333;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
#footer li {
  border-left: 1px solid #d9d9d9;
  float: left;
  padding: 0 15px;
  list-style-type: none;
  position: relative;
  left: -16px;
}
#footer p {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333;
  margin-top: 10px;
  width: 500px;
  display: block;
  clear: left;
}
#footer #omake {
  float: right;
  height: 40px;
  width: 40px;
  margin-right: 5px;
}
.youtube {
  color: #fdfdfb !important;
}
div.tooltip {
  width: 500px;
  position: absolute;
  z-index: 10;
  text-align: center;
}
div.tooltip .tooltipFoot {
  vertical-align: top;
}
.tooltip01 {
  padding-top: 15px;
  background-image: url(../img/tooltipBody.gif);
}
#text03 {
  font-family: "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Osaka;
  font-size: 11px;
  color: #333333;
  margin-bottom: 30px;
}
#map01 {
  text-align: left;
}
#print01 {
  margin-top: 20px;
}
#print02 {
  margin-top: 20px;
}
.printbtn01 {
  text-decoration: none;
  margin-top: 20px;
}
@media print {
  #header,
  #main,
  #footer,
  #cont03 p,
  .printbtn01 {
    display: none;
  }
  #print01,
  #print02 {
    display: block;
  }
}
#footer p {
  padding-top: 15px;
}
