<IfModule mod_mime.c>
  AddType text/javascript .js
  AddType image/webp .webp
</IfModule>

ErrorDocument 404 /404.html

<IfModule mod_expires.c>
  ExpiresActive On

  # Images
  ExpiresByType image/jpeg "access plus 2 day"
  ExpiresByType image/gif "access plus 2 day"
  ExpiresByType image/png "access plus 2 day"
  ExpiresByType image/webp "access plus 2 day"
  ExpiresByType image/svg+xml "access plus 2 day"
  ExpiresByType image/x-icon "access plus 2 day"

  # Video
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"

  # Others
  ExpiresByType application/pdf "access plus 1 year"
  ExpiresByType application/x-shockwave-flash "access plus 1 year"
</IfModule>

<IfModule mod_setenvif.c>
  BrowserMatch MSIE ie
  SetEnvIf Request_URI "\.(jpe?g|png|gif)$" _img_request
</IfModule>

<IfModule mod_headers.c>
  Header append Vary Accept env=_img_request
  Header append Vary User-Agent
  Header set X-UA-Compatible "IE=Edge" env=ie
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_ACCEPT} image/webp
  RewriteCond %{SCRIPT_FILENAME}.webp -f
  RewriteRule .(jpe?g|png|gif)$ %{SCRIPT_FILENAME}.webp [T=image/webp]
</IfModule>
